<%
=begin
Rails: Multiple line comment out test.
Begin to End comment out.
=end
%>

<% #------------------------------------------------
# Rails: Numtiple Line comment out test.
# rails brackets comment out.
# has comment out.
# ------------------------------------------------ %>


<li><%= book.name %><br>
  <%= book.description %><br>
  <%= book.price %><br>
  <% if book.users.any? %>
    Rentaled!
    <% book.users.each do |user| %>
      <%= user.name %>
    <% end %>
  <% end %>
  <br>
  <%= link_to 'edit', edit_book_path(book)  %>
</li>
